<form method="post" action="/account/signup/">
    {% csrf_token %}
    <p><label for="id_username">用户名:</label> <input type="text" name="username" maxlength="150" autofocus required
                                                    id="id_username">
    {{ 注册表单.errors.username }}
    <p><label for="id_password1">密码:</label> <input type="password" name="password1" required id="id_password1">
        {{ 注册表单.errors.password1 }}
    <p><label for="id_password2">密码确认:</label> <input type="password" name="password2" required id="id_password2">
        {{ 注册表单.errors.username2 }}
    <p><label for="id_email">电子邮件地址:</label> <input type="email" name="email" maxlength="254" id="id_email"></p>
        {{ 注册表单.errors.email }}
    <p><label for="id_昵称">昵称:</label> <input type="text" name="昵称" maxlength="50" id="id_昵称"></p>
    <p><label for="id_生日">生日:</label> <input type="date" name="生日" id="id_生日"></p>
        {{ 注册表单.验证码 }}
        {{ 注册表单.errors.验证码 }}
    <button type="submit">注册</button>

</form>