body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: url("../img/changepassword.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;

}
ul li{
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}
ul li a{
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}
ul:hover li a{
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);

}
ul:hover li a:hover{
    transform: scale(1.2);
    opacity: 1;
    filter: blur(0);
    word-spacing: 5px;
}
ul li a:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}
ul li a:hover:before
{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}
.top{
    margin-top: 4%;
    margin-left: 50%;
    display: inline-flex;
    word-spacing: 18px;
    transform: translate(-30%,-50%);
    width: 900px;
    text-align: center;
    height: 50px;  .
border-radius: 24px;
}
.head-line-l{
    border: #08f2ff 2px solid;
    display: inline;
    margin: 0;

}
.head-line-r{
    width: 360px;
    border:  #08f2ff solid;
    display: inline-block;
    margin: 0;
    transform: translate(2px);
}
.head-line{
    position: absolute;
    width: 1200px;
    height: 28px;
    margin: 0;
    margin-bottom: 280px;
    text-align: center;
    transform: translate(-55.5%,-50%);
    display: inline;
}
.tit{
    height: 56px;
    line-height: 0;
    margin: 0;
    padding: 0 20px;
    font-size: 32px;
    background: none;
    text-align: center;
    align-items: center;
    background: none;
    color: #ff7f51;
}
.top-a a{
    margin: 7px auto;
    display: inline-flex;
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    font-family: 幼圆;
    font-weight: bold;
}
.top-a a:hover{
    color: #07f1ff;
    font-family: 华文行楷;
    font-size: 28px;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
}
.top-i i{
    font-size: 40px;
    color: #ff4a01;
}
.box-back{
    width: 900px;
    padding: 40px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    opacity: 0.5;
}
.box{
    width: 900px;
    padding: 0;
    margin: 0;
    line-height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: none;
    text-align: center;

}
.box input[type = "text"],.box input[type = "password"],.box input[type="email"]{
    border:0;
    background: none;
    display: block;
    margin: 0px auto;
    text-align: center;
    border: 2px solid #08f2ff;
    padding: 14px 10px;
    width: 250px;
    height: 30px;
    outline: none;
    color: white;
    border-radius: 37px;
    transition: 250ms;
    opacity: 0.6;
    font-size: 24px;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus{
    width: 330px;
    border-color: #ffb5d8;
    opacity: 0.6;
}
.box input[type = "submit"]{
    border:0;
    background: none;
    width: 160px;
    height: 50px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #08f2ff;
    padding: 14px 40px;
    outline: none;
    color: #08f2ff;
    border-radius: 24px;
    transition: 250ms;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #08f2ff;
    color: white;
    opacity: 0.8;
}
.box-font{
    font-size: 28px;
    font-family: 华文琥珀;
    font-weight: 100;
    color: antiquewhite;
    opacity: 0.8;
    letter-spacing: 8px;
}
.box-form{
    line-height: 50px;
}
.click-show{
     display: none;
    color: white;
}