<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标题交给何方耀</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body>
<div class="services-section">
    <div class="grayscreen"></div>
    <div class="inner-width">
        <h1 class="section-title">欢迎来到DBground</h1>
        <div class="border"></div>
        <div class="services-container">

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <div class="service-title">Debate push</div>
                <div class="service-desc">
                    Lorem ipsum dolor sit amet,consectetur adipisicing elit.
                </div>
            </div>

            <div class="service-box" onclick="window.location.href='videos.html'">
                <div class="service-icon">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <div class="service-title">Videos</div>
                <div class="service-desc">
                    Lorem ipsum dolor sit amet,consectetur adipisicing elit.
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <div class="service-title">Live</div>
                <div class="service-desc">
                    Lorem ipsum dolor sit amet,consectetur adipisicing elit.
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <div class="service-title">Online competition</div>
                <div class="service-desc">
                    Lorem ipsum dolor sit amet,consectetur adipisicing elit.
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <div class="service-title">Sharing furum</div>
                <div class="service-desc">
                    Lorem ipsum dolor sit amet,consectetur adipisicing elit.
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <div class="service-title">join us</div>
                <div class="service-desc">
                    Lorem ipsum dolor sit amet,consectetur adipisicing elit.
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>