<!DOCTYPE html>
<html lang="en">
<!--    {% load staticfiles %}-->
<head>
    <meta charset="UTF-8">
<title style="font-family: 华文行楷;color: #ffb3e6">DeBaTe</title>
    <link rel="stylesheet" href="../static/css/bootcss/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootcss/LOGIN.css">
    <link rel="stylesheet" href="../static/css/a.css">
    <link rel="stylesheet" href="../static/css/bootcss/search.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
<!--<% block content %}-->

<!--{% endblock content %}-->
<div class="container">
    <div class="row clearfix">
        <div class="col-md-1 column">
            <span><img src="../static/img/logo.png" width="50px" align="left"></span>
        </div>
        <div class="col-md-11 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="{% url '主页' %}">首页</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <!--                            {% if user.is_authenticated %}-->
                            <!--                                <a href="{% url '退出页面' %}" target="_blank">退出</a>-->
                            <!--                            {% else %}-->
                            <a href="{% url '登录页面' %}" target="_self">登录</a>
                            <!--                                <a href="{% url '注册页面' %}" target="_blank">注册</a>-->
                            <!--                            {% endif %}-->
                        </li>
                        <li>
                            <a href="live.html">直播</a>
                        </li>
                        <li>
                            <a href="compitition.html">在线比赛</a>
                        </li>
                        <li>
                            <a href="videos.html">视频</a>
                        </li>
                        <li>
                            <a href="connect_to_us.html">联系我们</a>
                        </li>
                        <li>
                            <a href="requiring.html">意见反馈</a>
                        </li>
                    </ul>

                </div>

            </nav>
            <div class="search-box">
            <input type="text" name="" placeholder="  站内搜索" class="search-txt">
            <button type="submit" class="search-btn" href="#">
                <i class="fas fa-search"></i>
            </button>
        </div>
        </div>
    </div>
</div>

</body>
</html>